################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Build/Release
/CMakeFiles
/psittacula-cli/CMakeFiles
/psittacula-cli/psittacula-cli-0.5.0.dir/Debug
/psittacula-cli/ALL_BUILD.vcxproj
/psittacula-cli/ALL_BUILD.vcxproj.filters
/psittacula-cli/cmake_install.cmake
/psittacula-cli/psittacula-cli-0.5.0.vcxproj
/psittacula-cli/psittacula-cli-0.5.0.vcxproj.filters
/psittacula-cli/PSITTACULA_CLI.sln
/psittacula-tools/ALL_BUILD.vcxproj
/psittacula-tools/ALL_BUILD.vcxproj.filters
/psittacula-tools/CMakeFiles
/psittacula-tools/cmake_install.cmake
/psittacula-tools/psittacula-tools-0.5.0.dir/Debug
/psittacula-tools/psittacula-tools-0.5.0.vcxproj
/psittacula-tools/psittacula-tools-0.5.0.vcxproj.filters
/psittacula-tools/PSITTACULA_TOOLS.sln
/psittacula-tui/ALL_BUILD.vcxproj
/psittacula-tui/ALL_BUILD.vcxproj.filters
/psittacula-tui/CMakeFiles
/psittacula-tui/cmake_install.cmake
/psittacula-tui/psittacula-0.5.0.dir/Debug
/psittacula-tui/psittacula-0.5.0.vcxproj
/psittacula-tui/psittacula-0.5.0.vcxproj.filters
/psittacula-tui/psittacula-0.5.0.vcxproj.user
/psittacula-tui/psittacula-tui.sln
/x64/Debug/ZERO_CHECK
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj.user
/CMakeCache.txt
/cmake_install.cmake
/Psittacula.sln
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/psittacula-cli/psittacula-cli-0.7.0.dir/Debug
/psittacula-cli/psittacula-cli-0.7.0.vcxproj
/psittacula-cli/psittacula-cli-0.7.0.vcxproj.filters
/psittacula-cli/psittacula-cli-0.7.0.vcxproj.user
/psittacula-tools/psittacula-tools-0.7.0.dir/Debug
/psittacula-tools/psittacula-tools-0.7.0.vcxproj
/psittacula-tools/psittacula-tools-0.7.0.vcxproj.filters
/psittacula-tools/psittacula-tools-0.7.0.vcxproj.user
/psittacula-tui/psittacula-0.7.0.dir/Debug
/psittacula-tui/psittacula-0.7.0.dir/Debug/psittacula-0.7.0.tlog/CL.command.1.tlog
/psittacula-tui/psittacula-0.7.0.vcxproj
/psittacula-tui/psittacula-0.7.0.vcxproj.filters
/psittacula-tui/psittacula-0.7.0.vcxproj.user
/psittacula-tools/psittacula-tools-0.7.1.dir/Debug
/psittacula-cli/psittacula-cli-0.7.1.dir/Debug
/psittacula-tui/psittacula-0.7.1.dir/Debug
/psittacula-tui/psittacula-0.7.1.vcxproj
/psittacula-tui/psittacula-0.7.1.vcxproj.filters
/psittacula-tui/psittacula-0.7.1.vcxproj.user
/psittacula-cli/psittacula-cli-0.7.1.vcxproj
/psittacula-cli/psittacula-cli-0.7.1.vcxproj.filters
/psittacula-cli/psittacula-cli-0.7.1.vcxproj.user
/psittacula-tools/psittacula-tools-0.7.1.vcxproj
/psittacula-tools/psittacula-tools-0.7.1.vcxproj.filters
